<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}学生信息管理系统{% endblock %}</title>
    <link href="/static/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/bootstrap-table/bootstrap-table.css" rel="stylesheet">
    <link href="/static/bootstrap-table/bootstrap-editable.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table/bootstrap-editable.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table/bootstrap-table-editable.js"></script>
    <script type="text/javascript" src="/static/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/js/jquery.base64.js"></script>
    <script type="text/javascript" src="/static/bootstrap-table/bootstrap-table-export.js"></script>
     <script type="text/javascript" src="/static/js/bootbox.min.js"></script>
    {% block css_js %}{% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">学生信息系统</a>
                {% if user.is_staff %}
                     <a class="navbar-brand" href="/postmanage">研究生</a>
                {% endif %}
            </div>
            {% if user.is_staff %}
            <form class="navbar-form navbar-left" method="POST" role="search" action="/manage/global_search/">
                {% csrf_token %}
                 <div class="form-group">
                     <input type="text" class="form-control" name="search_content"  placeholder="按姓名或学号搜索">
                 </div>
                 <button type="submit" class="btn btn-default">搜索</button>
            </form>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <span class="glyphicon glyphicon-user"></span>{{ user.username }}<span class="caret"></span>
                      </a>

                      <ul class="dropdown-menu" role="menu">
                        {% if user.is_staff %}
                          <li><a href="/manage/profile">我的账户</a></li>
                        {% else %}
                            <li><a href="" data-toggle="modal" data-target="#myModal">修改密码</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        {% if user.is_superuser %}
                        <li><a href="/manage/user/">用户管理</a></li>
                        <li class="divider"></li>
                        {% endif %}
                        <li><a href="/logout">退出</a></li>
                      </ul>

                    </li>
                </ul>
            </div>
            {% endif %}
        {% block header %}
        {% endblock %}
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

<footer class="footer">
&copy; 2014-2015  <a href="http://ssast.org" target="_blank">软件学院学生科协</a>技术支持
</footer>
</body>
</html>