{% extends 'base.html' %}
{% block title %}学生信息管理系统{% endblock %}

{% block css_js %}
    <link href="/static/css/manage.css" rel="stylesheet">
{% endblock %}


{% block content %}
 <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="sidebar">
                <ul id="sidebar-tab" class="nav nav-list collapse navbar-collapse nav-pills nav-stacked" role="tablist">
                    <li role="presentation">
                    <a href="/manage/search">搜索<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation" class="active">
                    <a href="/manage/basic_info">基本信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/manage/degree_info" >学籍信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/manage/award_info">奖助贷<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/manage/family_info">家庭情况<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/manage/experience_info">科创社工<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/manage/graduation_info">毕业信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    {% ifequal is_editable 'true' %}
                    <li role="presentation">
                        <a href="/manage/import_excel">导入<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    {% endifequal %}
                </ul>
            </div>


            <!--===============================================================================================-->
            <!--/span-->
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"  id="content">
                {% ifequal is_editable 'true' %}
                <div id="custom-toolbar">
                    <div class="btn-group">
                       <button class="btn btn-default" id="remove-data" data-method="remove">删除</button>
                    </div>
                </div>
                {% endifequal %}

                <table id ="table-methods-table" data-toolbar="#custom-toolbar" class="table table-hover table-bordered" data-toggle="table"
                data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1"
                data-pagination="true"  border="0" align="center" cellpadding="0" cellspacing="0">

                <!-- table content for basic_info page-->
                <thead>
                    <tr>
                        <th data-visible={{ is_editable }} data-field="status"  data-checkbox="true"></th>
                        <th data-valign="middle" data-align="center">详情</th>
                        <th data-visible="false" data-field="id">ID</th>
                        <th data-valign="middle" data-align="center" data-field="number" data-sortable="true">学号</th>
                        <th data-valign="middle" data-align="center" data-field="name" data-sortable="true" data-editable={{ is_editable }}>姓名</th>
                        <th data-valign="middle" data-align="center" data-field="gender" data-sortable="true" data-editable={{ is_editable }}>性别</th>
                        <th data-valign="middle" data-align="center" data-field="phone" data-sortable="true" data-editable={{ is_editable }}>手机号</th>
                        <th data-valign="middle" data-align="center" data-field="email" data-sortable="true" data-editable={{ is_editable }}>邮箱</th>
                        <th data-valign="middle" data-align="center" data-field="identity_number" data-sortable="true" data-editable={{ is_editable }}>身份证号</th>
                        <th data-valign="middle" data-align="center" data-field="birthday"data-sortable="true" data-editable={{ is_editable }}>出生日期</th>
                        <th data-valign="middle" data-align="center" data-field="nation" data-sortable="true" data-editable={{ is_editable }}>民族</th>
                        <th data-valign="middle" data-align="center" data-field="nationality" data-sortable="true" data-editable={{ is_editable }}>国籍</th>
                        <th data-valign="middle" data-align="center" data-field="politics" data-sortable="true" data-editable={{ is_editable }}>政治面貌</th>
                        <th data-valign="middle" data-align="center" data-field="high_school" data-sortable="true" data-editable={{ is_editable }}>毕业中学</th>
                        <th data-valign="middle" data-align="center" data-field="exam_province" data-sortable="true" data-editable={{ is_editable }}>考区</th>
                        <th data-valign="middle" data-align="center" data-field="entrance_exam_score" data-sortable="true" data-editable={{ is_editable }}>高考总分</th>
                    </tr>
              </thead>
              <tbody>
             {%  for student in students %}
                <tr>
                  <td></td>
                  <td><a href="/manage/detail/{{ student.id }}">详情</a></td>
                  <td>{{ student.id }}</td>
                  <td>{{ student.number }}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.gender }}</td>
                  <td>{{ student.phone }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.identity_number }}</td>
                  <td>{{ student.birthday |date:"Ymd"}}</td>
                  <td>{{ student.nation }}</td>
                  <td>{{ student.nationality }}</td>
                  <td>{{ student.politics }}</td>
                  <td>{{ student.high_school }}</td>
                  <td>{{ student.exam_province }}</td>
                  <td>{{ student.entrance_exam_score }}</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>

            <script type="text/javascript">
            $('#remove-data').click(function () {
                bootbox.confirm({
                    size: 'small',
                    message: "确定要删除么？",
                    callback: function(result){
                        if(result){
                            var selects = $('#table-methods-table').bootstrapTable('getSelections');
                            stats = $.map(selects, function (row) {
                                return row.status;
                            });
                            ids = $.map(selects, function (row) {
                                    return row.id;
                                });
                           $('#table-methods-table').bootstrapTable('remove', {
                                field: 'status',
                                values: stats
                            });
                            $.ajax({
                                type:"POST",
                                url:"/manage/delete_students/",
                                traditional: true,
                                data: {"ids": ids},
                                dataType: "text",
                                error: function(){
                                    bootbox.alert({
                                        size: 'small',
                                        message: "删除失败，请刷新页面后重新更改！"
                                    });
                                },
                                success: function(){
                                    bootbox.alert({
                                        size: 'small',
                                        message: "删除成功！"
                                    });
                                }
                             });
                        }
                    }
                });
            });

            $.fn.editable.defaults.mode = 'inline';
            var flag = 0, sRow = null;
            $('#table-methods-table').bootstrapTable({
            //some code
            }).on('click-row.bs.table', function (e, row, $element) {
                flag = 1;
                sRow = row;
            }).on('editable-save.bs.table', function(e){
                if(flag == 1){
                    $.ajax({
                        type:"POST",
                        url:"/manage/update_basic_info/",
                        data: sRow,
                        dataType: "text",
                        error: function(){
                            bootbox.alert({
                                size: 'small',
                                message: "更改失败，请刷新页面后重新更改！"
                            });
                        }
                     });
                    flag = 0;
                }
            });
           </script>

        </div>
    </div>
</div>
{% endblock %}