{% extends 'base.html' %}
{% block title %}学生信息管理系统{% endblock %}

{% block css_js %}
    <link href="/static/css/manage.css" rel="stylesheet">
{% endblock %}


{% block content %}
 <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="sidebar">
                <ul id="sidebar-tab" class="nav nav-list collapse navbar-collapse nav-pills nav-stacked" role="tablist">
                    <li role="presentation">
                    <a href="/manage/search">搜索<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/manage/basic_info">基本信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/manage/degree_info" >学籍信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/manage/award_info">奖助贷<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/manage/family_info">家庭情况<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation" class="active">
                    <a href="/manage/experience_info">科创社工<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/manage/graduation_info">毕业信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    {% ifequal is_editable 'true' %}
                    <li role="presentation">
                        <a href="/manage/import_excel">导入<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    {% endifequal %}
                </ul>
            </div>




            <!--===============================================================================================-->
            <!--/span-->
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"  id="content">

                <table id ="table-methods-table" class="table table-hover table-bordered" data-toggle="table" data-show-refresh="true"
                data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true"
                border="0" align="center" cellpadding="0" cellspacing="0">

               <!-- table content for  graduation_info page-->
                <thead>
                    <tr>
                        <th data-valign="middle" data-align="center">详情</th>
                        <th data-field="id" data-visible="false" data-field="id">ID</th>
                        <th data-valign="middle" data-align="center" data-field="number" data-sortable="true" >学号</th>
                        <th data-valign="middle" data-align="center" data-field="name" data-editable={{ is_editable }} data-sortable="true" >姓名</th>
                        <th data-valign="middle" data-halign="center" data-field="competition" data-editable={{ is_editable }}  data-sortable="true" >赛事</th>
                        <th data-valign="middle" data-halign="center" data-field="social_work" data-editable={{ is_editable }}  data-sortable="true" >社工</th>
                    </tr>
              </thead>
              <tbody>
             {%  for student in students %}
                <tr>
                  <td><a href="/manage/detail/{{ student.id}}">详情</a></td>
                  <td>{{ student.id}}</td>
                  <td>{{ student.number}}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.experience.competition }}</td>
                  <td>{{ student.experience.social_work }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            <script type="text/javascript">
            $.fn.editable.defaults.mode = 'inline';
            var flag = 0, sRow = null;
            $('#table-methods-table').bootstrapTable({
            //some code
            }).on('click-row.bs.table', function (e, row, $element) {
                flag = 1;
                sRow = row;
            }).on('editable-save.bs.table', function(e){
                if(flag == 1){
                    $.ajax({
                        type:"POST",
                        url:"/manage/update_experience_info/",
                        data: sRow,
                        dataType: "text",
                        error: function(){
                            bootbox.alert({
                                size: 'small',
                                message: "更改失败，请刷新页面后重新更改！"
                            });
                        }
                     });
                    flag = 0;
                }
            });
           </script>
        </div>
    </div>
</div>
{% endblock %}