{% extends 'base.html' %}
{% block title %}学生信息管理系统{% endblock %}

{% block css_js %}
    <link href="../../static/css/manage.css" rel="stylesheet">
{% endblock %}


{% block content %}
 <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="sidebar">
                <ul id="sidebar-tab" class="nav nav-list collapse navbar-collapse nav-pills nav-stacked" role="tablist">
                    <li role="presentation">
                    <a href="/postmanage/search">搜索<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation" class="active">
                    <a href="/postmanage/basic_info">基本信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/degree_info" >学籍信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/award_info">奖助贷<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/work_info">科创社工<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/graduation_info">毕业信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                        <a href="/postmanage/import_excel">导入<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                </ul>
            </div>


            <!--===============================================================================================-->
            <!--/span-->
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"  id="content">

                <div id="custom-toolbar">
                    <div class="btn-group">
                       <button class="btn btn-default" id="append-data" data-method="append">新增</button>
                       <button class="btn btn-default" id="remove-data" data-method="remove">删除</button>
                    </div>
                </div>

                <table id ="table-methods-table" data-toolbar="#custom-toolbar" class="table table-hover table-bordered" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc"
                border="0" align="center" cellpadding="0" cellspacing="0">

                <!-- table content for basic_info page-->
                <thead>
                    <tr>
                        <th data-field="status" data-checkbox="true"></th>
                        <th data-visible="false" data-field="id">ID</th>
                        <th data-valign="middle" data-align="center" data-field="number" data-sortable="true">学号</th>
                        <th data-valign="middle" data-align="center" data-field="name" data-sortable="true" data-editable="true">姓名</th>
                        <th data-valign="middle" data-align="center" data-field="gender" data-sortable="true" data-editable="true">性别</th>
                        <th data-valign="middle" data-align="center" data-field="nation" data-sortable="true" data-editable="true">民族</th>
                        <th data-valign="middle" data-align="center" data-field="politics" data-sortable="true" data-editable="true">政治面貌</th>
                        <th data-valign="middle" data-align="center" date-field="tutor" data-sortable="true" data-editable="true">导师</th>
                        <th data-valign="middle" data-align="center" data-field="phone" data-sortable="true" data-editable="true">手机</th>
                        <th data-valign="middle" data-align="center" data-field="email" data-sortable="true" data-editable="true">邮箱</th>
                    </tr>
              </thead>
              <tbody>
             {%  for student in students %}
                    <tr>
                        <td></td>
                        <td>{{ student.id }}</td>
                        <td>{{ student.number }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.gender }}</td>
                        <td>{{ student.nation }}</td>
                        <td>{{ student.politics }}</td>
                        <td>{{ student.tutor }}</td>
                        <td>{{ student.phone }}</td>
                        <td>{{ student.email }}</td>
                    </tr>
              {% endfor %}

              </tbody>
            </table>

            <script type="text/javascript">
            $('#remove-data').click(function () {
                var selects = $('#table-methods-table').bootstrapTable('getSelections');
                    ids = $.map(selects, function (row) {
                        return row.status;
                    });

                $('#table-methods-table').bootstrapTable('remove', {
                    field: 'status',
                    values: ids
                });
            });

            $.fn.editable.defaults.mode = 'inline';
            var flag = 0, sRow = null;
            $('#table-methods-table').bootstrapTable({
            //some code
            }).on('click-row.bs.table', function (e, row, $element) {
                flag = 1;
                sRow = row;
            }).on('editable-save.bs.table', function(e){
                if(flag == 1){
                    $.ajax({
                        type:"POST",
                        url:"/postmanage/update_basic_info",
                        data: sRow,
                        dataType: "text",
                        error: function(){
                            alert("更改失败，请刷新页面后重新更改！")
                        }
                     });
                    flag = 0;
                }
            });
            /*$('#append-data').click(function () {
                $('#table-methods-table').bootstrapTable('append', {
                    number: 2011013239,
                    name: '文庆福'
                });
            });*/
           </script>

        </div>
    </div>
</div>
{% endblock %}