{% extends 'base.html' %}
{% block title %}学生信息管理系统{% endblock %}

{% block css_js %}
    <link href="../../static/css/manage.css" rel="stylesheet">
{% endblock %}

{% block content %}
 <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="sidebar">
                <ul id="sidebar-tab" class="nav nav-list collapse navbar-collapse nav-pills nav-stacked" role="tablist">
                    <li role="presentation">
                    <a href="/postmanage/search">搜索<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/basic_info">基本信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation"class="active">
                    <a href="/postmanage/degree_info" >学籍信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/award_info">奖助贷<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/work_info">科创社工<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/graduation_info">毕业信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                        <a href="/postmanage/import_excel">导入<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                </ul>
            </div>




            <!--===============================================================================================-->
            <!--/span-->
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"  id="content">

                <table id ="table-methods-table" class="table table-hover table-bordered" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true"
                data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc"
                border="0" align="center" cellpadding="0" cellspacing="0">

              <!-- table content for degree_info page-->
                <thead>
                    <tr>
                        <th data-valign="middle" data-align="center">详情</th>
                        <th data-field="id" data-visible="false">ID</th>
                        <th data-valign="middle" data-align="center" data-field="number" data-sortable="true" >学号</th>
                        <th data-valign="middle" data-align="center" data-field="name" data-sortable="true" data-editable="true">姓名</th>
                        <th data-valign="middle" data-align="center" data-field="degree" data-sortable="true" data-editable="true">学位</th>
                        <th data-valign="middle" data-align="center" data-field="class_name" data-sortable="true" data-editable="true">班号</th>
                        <th data-valign="middle" data-align="center" data-field="first_test" data-sortable="true" data-editable="true">初试成绩</th>
                        <th data-valign="middle" data-align="center" data-field="opening_time" data-sortable="true" data-editable="true">开题时间</th>
                        <th data-valign="middle" data-align="center" data-field="exchange_info" data-sortable="true" data-editable="true">交换时间/学校</th>
                        <th data-valign="middle" data-align="center" data-field="admissions_way" data-sortable="true" data-editable="true">招生途径</th>
                        <th data-valign="middle" data-align="center" data-field="rank_before_graduation" data-sortable="true" data-editable="true">毕业前或退面前综合排名</th>
                        <th data-valign="middle" data-align="center" data-field="admissions_rank" data-sortable="true" data-editable="true">入学成绩/排名</th>
                        <th data-valign="middle" data-align="center" data-field="regular_school" data-sortable="true" data-editable="true">本科毕业学校</th>
                        <th data-valign="middle" data-align="center" data-field="regular_major" data-sortable="true" data-editable="true">本科专业</th>
                    </tr>
              </thead>
              <tbody>
             {%  for student in students %}
                <tr>
                  <td><a href="/postmanage/detail/{{ student.id }}">详情</a></td>
                  <td>{{ student.id }}</td>
                  <td>{{ student.number }}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.degree.degree }}</td>
                  <td>{{ student.degree.class_name }}</td>
                  <td>{{ student.degree.first_test }}</td>
                  <td>{{ student.degree.opening_time }}</td>
                  <td>{{ student.degree.exchange_info }}</td>
                  <td>{{ student.degree.admissions_way }}</td>
                  <td>{{ student.degree.rank_before_graduation }}</td>
                  <td>{{ student.degree.admissions_rank }}</td>
                  <td>{{ student.degree.regular_school }}</td>
                  <td>{{ student.degree.regular_major }}</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>

            <script type="text/javascript">
            $.fn.editable.defaults.mode = 'inline';
            var flag = 0, sRow = null;
            $('#table-methods-table').bootstrapTable({
            //some code
            }).on('click-row.bs.table', function (e, row, $element) {
                flag = 1;
                sRow = row;
            }).on('editable-save.bs.table', function(e){
                if(flag == 1){
                    $.ajax({
                        type:"POST",
                        url:"/postmanage/update_degree_info",
                        data: sRow,
                        dataType: "text",
                        error: function(){
                            bootbox.alert({
                                size: 'small',
                                message: "更改失败，请刷新页面后重新更改！"
                            });
                        }
                     });
                    flag = 0;
                }
            });
           </script>

        </div>
    </div>
</div>
{% endblock %}