{% extends 'base.html' %}
{% block title %}学生信息管理系统{% endblock %}

{% block css_js %}
    <link href="/static/css/manage.css" rel="stylesheet">
{% endblock %}


{% block content %}
 <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="sidebar">
                <ul id="sidebar-tab" class="nav nav-list collapse navbar-collapse nav-pills nav-stacked" role="tablist">
                    <li role="presentation">
                    <a href="/postmanage/search">搜索<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation" class="active">
                    <a href="/postmanage/basic_info">基本信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/degree_info" >学籍信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/award_info">奖助贷<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/work_info">科创社工<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/graduation_info">毕业信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    {% ifequal is_editable 'true' %}
                    <li role="presentation">
                        <a href="/postmanage/import_excel">导入<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    {% endifequal %}
                </ul>
            </div>


            <!--===============================================================================================-->
            <!--/span-->
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"  id="content">
                <div class="table-header">基本信息：</div>
                    <table class="table table-hover table-bordered">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>学号：</td>
                                <td>{{ student.number }}</td>
                                <td>姓名：</td>
                                <td>{{ student.name }}</td>
                            </tr>

                            <tr>
                                <td>性别：</td>
                                <td>{{ student.gender }}</td>
                                <td>民族：</td>
                                <td>{{ student.nation }}</td>
                            </tr>

                            <tr>
                                <td>政治面貌：</td>
                                <td>{{ student.politics }}</td>
                                <td>导师：</td>
                                <td>{{ student.tutor }}</td>
                            </tr>

                            <tr>
                                <td>手机：</td>
                                <td>{{ student.phone }}</td>
                                <td>邮箱：</td>
                                <td>{{ student.email }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <hr>
                    <div class="table-header">学籍信息：</div>
                    <table class="table table-hover table-bordered">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td>学位：</td>
                            <td>{{ student.degree.degree }}</td>
                            <td>班号：</td>
                            <td>{{ student.degree.class_name }}</td>
                        </tr>

                        <tr>
                            <td>年级：</td>
                            <td>{{ student.degree.grade }}</td>
                            <td>初试成绩：</td>
                            <td>{{ student.degree.first_test }}</td>
                        </tr>

                        <tr>
                            <td>开题时间：</td>
                            <td>{{ student.degree.opening_time }}</td>
                            <td>交流学校/时间：</td>
                            <td>{{ student.degree.exchange_info }}</td>
                        </tr>

                        <tr>
                            <td>招生途径：</td>
                            <td>{{ student.degree.admissions_way }}</td>
                            <td>毕业前或推免前综合排名：</td>
                            <td>{{ student.degree.rank_before_graduation }}</td>
                        </tr>

                        <tr>
                            <td>入学成绩/排名：</td>
                            <td>{{ student.degree.admissions_rank }}</td>
                            <td>本科毕业学校：</td>
                            <td>{{ student.degree.regular_school }}</td>
                        </tr>

                        <tr>
                            <td>本科专业：</td>
                            <td>{{ student.second_degree.regular_major }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <hr>
                    <div class="table-header">奖助贷：</div>
                    <table class="table table-hover table-bordered">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td>奖学金：</td>
                            <td>{{student.scholarship_loan.scholarship}}</td>

                            <td>助学金：</td>
                            <td>{{student.scholarship_loan.grant}}</td>
                        </tr>

                        <tr>
                            <td>贷款：</td>
                            <td>{{student.scholarship_loan.loan}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <hr>
                    <div class="table-header">科创社工：</div>
                    <table class="table table-hover table-bordered">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>赛事信息：</td>
                                <td>{{student.experience.competition}}</td>

                                <td>社工信息：</td>
                                <td>{{ student.experience.social_work}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <hr>
                    <div class="table-header">毕业信息：</div>
                    <table class="table table-hover table-bordered">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td>毕业日期：</td>
                            <td>{{ student.graduation.date | date:"Ymd"}}</td>

                            <td>毕业去向：</td>
                            <td>{{ student.graduation.destination }}</td>
                        </tr>

                        <tr>
                            <td>毕业手机：</td>
                            <td>{{ student.graduation.phone}}</td>
                            <td>毕业邮箱：</td>
                            <td>{{ student.graduation.email }}</td>
                        </tr>

                        <tr>
                            <td>职务：</td>
                            <td>{{ student.graduation.job }}</td>

                            <td>年薪：</td>
                            <td>{{ student.graduation.salary }}</td>
                        </tr>
                        <tr>
                            <td>校友捐款：</td>
                            <td>{{ student.graduation.alumni_donation }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
{% endblock %}