{% extends 'base.html' %}
{% block title %}学生信息管理系统{% endblock %}

{% block css_js %}
    <link href="../../static/css/manage.css" rel="stylesheet">
{% endblock %}


{% block content %}
 <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="sidebar">
                <ul id="sidebar-tab" class="nav nav-list collapse navbar-collapse nav-pills nav-stacked" role="tablist">
                    <li role="presentation">
                    <a href="/postmanage/search">搜索<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/basic_info">基本信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/degree_info" >学籍信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/award_info">奖助贷<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                    <a href="/postmanage/work_info">科创社工<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation" class="active">
                    <a href="/postmanage/graduation_info">毕业信息<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                    <li role="presentation">
                        <a href="/postmanage/import_excel">导入<i class="glyphicon glyphicon-chevron-right"></i></a>
                    </li>
                </ul>
            </div>




            <!--===============================================================================================-->
            <!--/span-->
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"  id="content">

                <table id ="table-methods-table" class="table table-hover table-bordered" data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc"
                border="0" align="center" cellpadding="0" cellspacing="0">

               <!-- table content for  graduation_info page-->
                <thead>
                    <tr>
                        <th data-valign="middle" data-align="center">详情</th>
                        <th data-field="id" data-visible="false">ID</th>
                        <th data-valign="middle" data-align="center" data-field="number" data-sortable="true">学号</th>
                        <th data-valign="middle" data-align="center" data-field="name" data-sortable="true" data-editable="true">姓名</th>
                        <th data-valign="middle" data-align="center" data-field="date" data-sortable="true" data-editable="true">毕业日期</th>
                        <th data-valign="middle" data-align="center" data-field="destination"data-sortable="true" data-editable="true">毕业去向</th>
                        <th data-valign="middle" data-align="center" data-field="job" data-sortable="true" data-editable="true">职务</th>
                        <th data-valign="middle" data-align="center" data-field="salary" data-sortable="true" data-editable="true">年薪</th>
                        <th data-valign="middle" data-align="center" data-field="alumni_donation" data-sortable="true" data-editable="true">校友捐款</th>
                        <th data-valign="middle" data-align="center" data-field="phone" data-sortable="true" data-editable="true">毕业手机</th>
                        <th data-valign="middle" data-align="center" data-field="email" data-sortable="true" data-editable="true">毕业邮箱</th>
                    </tr>
              </thead>
              <tbody>
             {%  for student in students %}
                <tr>
                  <td><a href="/postmanage/detail/{{ student.id }}">详情</a></td>
                  <td>{{ student.id }}</td>
                  <td>{{ student.number }}</td>
                  <td>{{ student.name }}</td>
                  <td>{{ student.graduation.date | date:"Y-m-d"}}</td>
                  <td>{{ student.graduation.detination }}</td>
                  <td>{{ student.graduation.job }}</td>
                  <td>{{ student.graduation.salary }}</td>
                  <td>{{ student.graduation.alumni_donation }}</td>
                  <td>{{ student.graduation.phone}}</td>
                  <td>{{ student.graduation.email }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            <script type="text/javascript">
            $.fn.editable.defaults.mode = 'inline';
            var flag = 0, sRow = null;
            $('#table-methods-table').bootstrapTable({
            //some code
            }).on('click-row.bs.table', function (e, row, $element) {
                flag = 1;
                sRow = row;
            }).on('editable-save.bs.table', function(e){
                if(flag == 1){
                    $.ajax({
                        type:"POST",
                        url:"/postmanage/update_graduation_info",
                        data: sRow,
                        dataType: "text",
                        error: function(){
                            alert("更改失败，请刷新页面后重新更改！")
                        }
                     });
                    flag = 0;
                }
            });
           </script>

        </div>
    </div>
</div>
{% endblock %}