{% extends 'base.html' %}
{% block title %}学生信息管理系统{% endblock %}

{% block css_js %}
    <link href="../static/css/manage.css" rel="stylesheet">
{% endblock %}

{% block header %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>admin<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">个人信息</a></li>
                <li class="divider"></li>
                <li><a href="#">设置</a></li>
                <li class="divider"></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid" id="main">
    <div class="col-xs-50 col-sm-50 col-md-50 col-lg-50"  id="content">
        <table class="table table-hover table-bordered " data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
            <thead>
            </thead>
            <tbody>
            <tr width="25%" height="45" style="font-size:18px; ">
			    <td >
			        <strong>基本信息：</strong>
                </td>
	        </tr>
            <tr>
                <td width="25%" height="25" align="right">
                    <div align="right">学号：</div>
                </td>
                <td width="25%" align="left">{{ student.number }}</td>

                <td width="25%" height="25" align="right">
                    <div align="right">姓名：</div>
                </td>
                <td width="25%" align="left">{{ student.name }}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">性别：</div>
                </td>
                <td align="left">{% if student.gender %}男{% else %}女{% endif %}</td>

                <td height="25" align="right">
                    <div align="right">身份证号：</div>
                </td>
                <td align="left">{{ student.identity_number }}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">出生日期：</div>
                </td>
                <td align="left">{{ student.birthday |date:"Y-m-d"}}</td>

                <td height="25" align="right">
                    <div align="right">民族：</div>
                </td>
                <td align="left">{{ student.nation }}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">政治面貌：</div>
                </td>
                <td align="left">{{ student.politics }}</td>

                <td height="25" align="right">
                    <div align="right">考区：</div>
                </td>
                <td align="left">{{ student.exam_province }}</td>
            </tr>

            <tr>
                <td height="25" align="right" align="center">
                <form>
                    {% csrf_token %}
                    <div>
                        <label>联系方式：</label>
                    </div>
                </form>
                </td>
                <td align="left">
                    <form>
                        {% csrf_token %}
                        <div>
                            <input type="text" placeholder="{{ student.graduation.phone }}">
                        </div>
                    </form>
                </td>

                <td height="25" align="right">
                    <form>
                        {% csrf_token %}
                        <div>
                            <label>邮箱：</label>
                        </div>
                    </form>
                </td>
                <td align="left">
                    <form>
                        {% csrf_token %}
                        <div>
                            <input type="text" placeholder="{{ student.graduation.email}}">
                        </div>
                    </form>
                </td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">外语水平：</div>
                </td>
                <td align="left"></td>

                <td height="25" align="right">
                    <div align="right"></div>
                </td>
                <td align="left"></td>
            </tr>
            </tbody>
        </table>

        <table class="table table-hover table-bordered " data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
            <thead>
            </thead>
            <tbody>
            <tr width="25%" height="45" style="font-size:18px; ">
			    <td >
			        <strong>学籍信息：</strong>
                </td>
	        </tr>
            <tr>
                <td width="25%" height="25" align="right">
                    <div align="right">系所名：</div>
                </td>
                <td width="25%" align="left">{{ student.degree.department }}</td>

                <td width="25%" height="25" align="right">
                    <div align="right">专业名：</div>
                </td>
                <td width="25%" align="left">{{ student.degree.major }}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">教学班：</div>
                </td>
                <td align="left">{{ student.degree.class_num }}</td>

                <td height="25" align="right">
                    <div align="right">所属年级：</div>
                </td>
                <td align="left">{{ student.degree.grade }}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">学制：</div>
                </td>
                <td align="left">{{ student.degree.duration}}</td>

                <td height="25" align="right">
                    <div align="right">是否异动：</div>
                </td>
                <td align="left">{{ student.degree.change }}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">学位：</div>
                </td>
                <td align="left">{{ student.degree.degree_type }}</td>


                <td height="25" align="right">
                    <div align="right">是否留学生：</div>
                </td>
                <td align="left">{% if student.degree.is_foreign %}是{% else %}否{% endif %}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">是否有学籍：</div>
                </td>
                <td align="left">{% if student.degree.is_candidate %}是{% else %}否{% endif %}</td>

                <td height="25" align="right">
                    <div align="right">学生类别：</div>
                </td>
                <td align="left">{{ student.degree.student_type }}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">经费办法：</div>
                </td>
                <td align="left">{{ student.degree.expenditure_type }}</td>

                <td height="25" align="right">
                    <div align="right">交换时间/学校：</div>
                </td>
                <td align="left">{{ student.degree.exchange_info }}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">大三年级学分绩及排名：</div>
                </td>
                <td align="left">{{ student.degree.scores_rank }}</td>

                <td height="25" align="right">
                    <div align="right"></div>
                </td>
                <td align="left"></td>
            </tr>
            </tbody>
        </table>


        <table class="table table-hover table-bordered " data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
            <thead>
            </thead>
            <tbody>
            <tr>
				<td height="45" style="font-size:18px; " >
				    <strong>奖助贷：</strong>
                </td>
	        </tr>

            <tr>
                <td  height="25" align="right">
                    <div align="center">奖学金学年度</div>
                </td>

                <td height="25" align="right">
                    <div align="center">荣誉等级</div>
                </td>

                <td height="25" align="right">
                    <div align="center">奖项简称</div>
                </td>

                <td height="25" align="right">
                    <div align="center">获奖金额</div>
                </td>

                <td height="25" align="right">
                    <div align="center">助学金年度</div>
                </td>

                <td height="25" align="right">
                    <div align="center">助项简称</div>
                </td>

                <td height="25" align="right">
                    <div align="center">获助金额</div>
                </td>
            </tr>

            <tr>
                <td  align="left">{{ scholarship.year}}</td>
                <td align="left">{{ scholarship.honor_grade }}</td>
                <td align="left">{{ scholarship.name}}</td>
                <td align="left">{{ scholarship.amount}}</td>
                <td align="left"></td>
                <td align="left"></td>
                <td align="left"></td>
            </tr>

            <tr>
                <td height="25" align="center">
                    <div align="right">贷款：</div>
                </td>
                <td align="left"></td>
            </tr>
            </tbody>
        </table>


        <table class="table table-hover table-bordered " data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
            <thead>
            </thead>
            <tbody>
            <tr>
				<td width="25%" height="45" style="font-size:18px; " >
			        <strong>毕业信息：</strong>
                </td>
	        </tr>

            <tr>
                <td width="25%" height="25" align="right">
                    <div align="right">毕业日期：</div>
                </td>
                <td width="25%" align="left">{{ student.graduation.date | date:"Y-m-d"}}</td>

                <td width="25%" height="25" align="right">
                    <div align="right">毕业类别：</div>
                </td>
                <td width="25%" align="left">{{ student.graduation.type }}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">毕业手机：</div>
                </td>
                <td align="left">{{ student.graduation.phone}}</td>

                <td height="25" align="right">
                    <div align="right">毕业邮箱：</div>
                </td>
                <td align="left">{{ student.graduation.email }}</td>
            </tr>

            <tr>
                <td height="25" align="right">
                    <div align="right">毕业去向：</div>
                </td>
                <td align="left">{{ student.graduation.destination }}</td>

                <td height="25" align="right">
                    <div align="right">分流方向：</div>
                </td>
                <td align="left">{{ student.graduation.direction }}</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-hover table-bordered " data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
            <thead>
            </thead>
            <tbody>
            <tr>
				<td width="25%" height="45" style="font-size:18px; " >
			        <strong>科创信息：</strong>
                </td>
	        </tr>
        </tbody>
        </table>

    </div>
</div>
{% endblock %}