{% extends 'base.html' %}
{% block title %}学生信息管理系统{% endblock %}

{% block css_js %}
    <link href="/static/css/student.css" rel="stylesheet">
{% endblock %}

{% block header %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改密码</h4>
      </div>

      <div class="modal-body">
          <form id="psd_form" action="/student/change_password" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="old_password" class="control-label">旧密码：</label>
            <input type="password" class="form-control" name="old_password" id="old_password">
          </div>
          <div class="form-group">
            <label for="new_password" class="control-label">新密码：</label>
            <input type="password" placeholder="密码长度至少6位" class="form-control" name="new_password" id="new_password">
          </div>
          <div class="form-group">
            <label for="confirm_password" class="control-label">确认密码：</label>
            <input type="password" placeholder="密码长度至少6位" class="form-control" name="confirm_password" id="confirm_password">
          </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="save-button">确定</button>
      </div>
    </div>
  </div>
</div>
<script>
$('#save-button').click(function(){
    $.ajax({
        type: "POST",
        url: "/student/change_password/",
        data: $('#psd_form').serialize(),
        success: function(msg) {
            bootbox.alert({
                size: 'small',
                message: msg
            });
            if(msg == "密码修改成功！"){
                $('#myModal').modal('hide');
            }
        },
        error: function(){
            bootbox.alert({
                size: 'small',
                message: "修改密码失败！"
            });
        }
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container-fluid" id="main">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form id="std_info" action="/student/"  method="POST">
            {% csrf_token%}
        <div class="table-header">基本信息：</div>
        <table class="table table-hover table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>学号：</td>
                    <td>{{ student.number }}</td>

                    <td>姓名：</td>
                    <td>{{ student.name }}</td>
                </tr>

                <tr>
                    <td>性别：</td>
                    <td>{{  student.gender }}</td>

                    <td>身份证号：</td>
                    <td>{{ student.identity_number }}</td>
                </tr>

                <tr>
                    <td>出生日期：</td>
                    <td>{{ student.birthday |date:"Y-m-d"}}</td>

                    <td>民族：</td>
                    <td>{{ student.nation }}</td>
                </tr>

                <tr>
                    <td>政治面貌：</td>
                    <td><input type="text" name="politics" value="{{ student.politics }}"></td>

                    <td>考区：</td>
                    <td>{{ student.exam_province }}</td>
                </tr>

                <tr>
                    <td>手机号：</td>
                    <td><input type="text" name="phone" value="{{ student.phone }}"></td>

                    <td>邮箱：</td>
                    <td><input type="text" name="email" value="{{ student.email}}"></td>
                </tr>

                <tr>
                    <td>家庭住址：</td>
                    <td><input type="text" name="address" value="{{ student.family.address }}"></td>

                    <td>邮编：</td>
                    <td><input type="text" name="postcode" value=""></td>
                </tr>

                <tr>
                    <td>父母联系方式：</td>
                    <td><input type="text" name="family_phone" value="{{ student.family.phone }}"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <hr>
        <div class="table-header">学籍信息：</div>
        <table class="table table-hover table-bordered">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>专业名：</td>
                <td>{{ student.degree.major }}</td>
                <td>教学班：</td>
                <td>{{ student.degree.class_num }}</td>
            </tr>

            <tr>
                <td>学位：</td>
                <td>{{ student.degree.degree_type }}</td>

                <td>交换时间/学校：</td>
                <td>{{ student.degree.exchange_info }}</td>
            </tr>

            <tr>
                <td>大三年级学分绩及排名：</td>
                <td>{{ student.degree.scores_rank }}</td>

                <td>外语水平</td>
                <td><input type="text" name="english_level" value="{{ student.degree.english_level }}"></td>
            </tr>

            <tr>
                <td>二学位专业名：</td>
                <td>{{ student.second_degree.major }}</td>

                <td>二学位毕业日期</td>
                <td>{{ student.second_degree.date| date:"Y-m-d" }}</td>
            </tr>

            </tbody>
        </table>

        <hr>
        <div class="table-header">科创社工：</div>
        <table class="table table-hover table-bordered">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>赛事信息：</td>
                <td><textarea name="competition" form="std_info" rows="5" cols="60">{{student.experience.competition}}</textarea></td>

                <td>社工信息：</td>
                <td><textarea name="social_work" form="std_info" rows="5" cols="60">{{ student.experience.social_work}}</textarea></td>
            </tr>
            </tbody>
        </table>

         <hr>
        <div class="table-header">奖助贷：</div>
        <table class="table table-hover table-bordered">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>奖学金：</td>
                <td>{{ student.scholarship_loan.scholarship }}</td>

                <td>助学金：</td>
                <td>{{ student.scholarship_loan.grant }}</td>
            </tr>
            <tr>
                <td>贷款：</td>
                <td>{{ student.scholarship_loan.loan }}</td>

                <td>临时借款：</td>
                <td>{{ student.scholarship_loan.temp_loan }}</td>
            </tr>
            </tbody>
        </table>


        <hr>
        <div class="table-header">毕业信息：</div>
        <table class="table table-hover table-bordered">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>毕业手机：</td>
                <td><input type="text" name="graduation_phone" value="{{ student.graduation.phone}}"></td>

                <td>毕业邮箱：</td>
                <td><input type="text" name="graduation_email" value="{{ student.graduation.email}}"></td>
            </tr>

            <tr>
                <td>毕业去向：</td>
                <td><input type="text" name="destination" value="{{ student.graduation.destination}}"></td>

                <td>分流方向：</td>
                <td>{{ student.graduation.direction }}</td>
            </tr>

            <tr>
                <td>毕业日期：</td>
                <td>{{ student.graduation.date | date:"Y-m-d"}}</td>

                <td>毕业类别：</td>
                <td>{{ student.graduation.type }}</td>
            </tr>
            </tbody>
        </table>
        <div class="row" style="text-align: center"><input type="submit" class="btn btn-primary btn-lg" value="确定"/></div>
        </form>
    </div>
</div>
{% endblock %}