<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html>
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>学生详细信息 - 学生信息管理系统</title>
    <link href="../../static/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/base.css" rel="stylesheet">
    <script type="text/javascript" src="../../static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap3/js/bootstrap.min.js"></script>
</head>

<body>
   <div class="jumbotron">
       <div class="container">
           <img src="../../pictures/mainPagePicture.jpg"/>
           <h1>软件学院学生信息管理系统</h1>
           <a href="../login/login.html" class="btn btn-primary btn-lg active" role="button">请您登录</a>
       </div>
   </div>
</body>
</html>