#main{
    margin-top: 60px;
}

.glyphicon-chevron-right{
    float: right;
}
.table-click > tbody tr:hover{
    cursor: pointer;
}

td > a.editable-click{
    color: #333;
}

pre {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #fff;
	border: 0px;
	border-radius: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row {
	margin-left: 0;
    margin-right: 0;
}

.form-line{
    margin-bottom: 10px;
}

.table-header{
    font-size: 16px;
    font-weight:bold;
    margin-bottom: 10px;
}
.tab-content{
    margin-top: 20px;
}
